*{
    margin: 40px;
    padding: ;
    font-family: cursive;
    color: #d0d8d8;
    
}

.container{
/*    background-color: #122e2f;  */
  background-image: linear-gradient(to right, rgba(1, 9, 11), rgba(27, 60, 57));
} 
.searching {
/*
    display: flex;
    flex-direction: row;
*/
/*    align-items: flex-start;*/

}
.seachInput {
/*    border: 0px solid dodgerblue;*/
    background: black;
    border-top : none;
    border-left: none;
    border-right:none;
    border-bottom: 2px solid white;
    float:right;
}

.movieDistributed {
    border: 2px solid #323d3e;
    width: 96%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative
}
.onceBollywood{
    border:2px solid #323d3e;
    width: 10%;
    height: 250px;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    
    
}

 .it {
     
     position: relative;
    width:10%;
    height: -100%;
     border:2px solid #323d3e;
    margin-left: 0px;
}
.chaptertwo {
/*    border: 2px solid #323d3e;*/
    margin-left: 80px;
     writing-mode: vertical-rl;
}
 .itvillan {
     margin: 2px;
     margin-top: 0px;
}


.thepeanut {
    width: 20%;
    border: 2px solid #323d3e;
    width: 6oopx;
    height: 600px
}
.thepeanutA {
    border: 2px solid #323d3e;
    height: 100px;
    
}
.thepeanutB {
    border: 2px solid #323d3e;
    height: 400px
        
}
.peanutC{
    margin-left: -2px;
    margin-top: 0px
}
.rambo{
   width: 30%;
    height: 600px;
    border: 2px solid #323d3e;
}
