body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
/* .underline{
    width: 150px;
    border-bottom: red;
    text-decoration: overline solid salmon
} */
.nav-menu{
    background: linear-gradient(rgba(0,0,0,3),rgba(0,0,0,5));
    padding: 30px;
    transition: color .7s;
}

.link-design{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    color:brown
}

.nav-active{
    color: blue
}
.menu-item{
    font-size: 13px;
    letter-spacing: 2px;
    color: tomato   
}
.menu-item:hover{
    color: brown
}
.newcontainer{
    background-color: violet
}

